:root{
  /* primary */
  --mblue: hsl(238, 40%, 52%);
  --sred: hsl(358, 79%, 66%);
  --lgrayblue: hsl(239, 57%, 85%);
  --pred: hsl(357, 100%, 86%);

  /* neutral */
  --dblue: hsl(212, 24%, 26%);
  --gblue: hsl(211, 10%, 45%);
  --lgray: hsl(223, 19%, 93%);
  --vlgray: hsl(228, 33%, 97%);
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: var(--lgray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.middle-container{
  width: 75%;
}
.flex{
  display: flex;
}